*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

TestResults/

# Visual Studio 2015
.vs/

# Just for development Windows vs MacOS - ignore app settings due to DB
appsettings.json
EvidenceHodinWeb/EvidenceHodinWeb/appsettings.json
EvidenceHodinWeb/EvidenceHodinWeb/appsettings.json
EvidenceHodinWebMVC/EvidenceHodinWebMVC/appsettings.json
EvidenceHodinWeb/EvidenceHodinWeb/appsettings.json
