@model EvidenceHodinWebMVC.Models.Zakaznik

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Zakaznik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Zkratka" class="control-label"></label>
                <input asp-for="Zkratka" class="form-control" />
                <span asp-validation-for="Zkratka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazev" class="control-label"></label>
                <input asp-for="Nazev" class="form-control" />
                <span asp-validation-for="Nazev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
