@model EvidenceHodinWebMVC.Models.Projekt

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Projekt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjektId" />
            <div class="form-group">
                <label asp-for="Nazev" class="control-label"></label>
                <input asp-for="Nazev" class="form-control" />
                <span asp-validation-for="Nazev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxMinut" class="control-label"></label>
                <input asp-for="MaxMinut" class="form-control" />
                <span asp-validation-for="MaxMinut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZakaznikId" class="control-label"></label>
                <select asp-for="ZakaznikId" class="form-control" asp-items="ViewBag.ZakaznikId"></select>
                <span asp-validation-for="ZakaznikId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aktivita" class="control-label"></label>
                <input asp-for="Aktivita" class="form-control" />
                <span asp-validation-for="Aktivita" class="text-danger"></span>
            </div>

            <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <table>
            <tr>
                @{
                    int cnt = 0;
                    List<PraceCinnostData> cinnosti = ViewBag.Cinnosti;

                    foreach (var cinnost in cinnosti)
                    {
                        if (cnt++ % 3 == 0)
                        {
                            @:</tr><tr>
                        }
                        @:<td>
                            <input type="checkbox"
                                   name="vybraneCinnosti"
                                   value="@cinnost.CinnostId"
                                   @(Html.Raw(cinnost.Assigned ? "checked=\"checked\"" : "")) />
                                   @cinnost.CinnostId @:  @cinnost.Nazev
                        @:</td>
                    }
                    @:</tr>
                }
        </table>
    </div>
</div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
