@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Aplikace na evidenci hodin</h1>
    <p>Pro používání aplikace musíte být přihlášeni. V případě, že jste se již přihlásili a nefunguje Vám aplikace, tak Vám ještě administrátor nepotvrdil účet.</p>
</div>
